*{
    margin: 0;
    padding: 0;
}

header{
    font-size: 30px;
    height: 20vh;
    background-color: cornflowerblue;
    text-align: center;
    color: whitesmoke;
}

.kino img{
    padding-left: 32%;
    padding-top: 30px;
    
}

.kino p{
    padding: 30px;
}

.kino{
    background-color: darkcyan;
    color: whitesmoke;
    height: 90vh;

}

footer{
    background-color: whitesmoke;
    color: cornflowerblue;
    text-align: center;
}
