*{
    margin: 0;
    padding: 0;
}

header{
    font-size: 30px;
    height: 20vh;
    background-color: slateblue;
    text-align: center;
    color: whitesmoke;
}

.nagisa1 img{
    padding-left: 17px;
    padding-top: 30px;
    float: left;
}

.nagisa1 p{
    padding: 34px;
}

.nagisa1{
    background-color:  deeppink;
    color: beige;
    height: 94vh;
}

footer{
    background-color: whitesmoke;
    color: cornflowerblue;
    text-align: center;
}
